{% extends 'base.html' %}

{% block content %}
  

<!-- Main Section -->
<main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>Rechercher un <span>Document</span></h2>
        </div>

        <div class="hero-section__search">
          <form class="form" action="{% url 'documents' %}" method="get">
            <div class="form__field">
              <label for="formInput#search">Recherche par documents </label>
              <input class="input input--text" id="formInput#search" type="text" name="mot_cle"
               value="{{search_query}}" placeholder="Recherche par intitulé" />
            </div>

            <input class="btn btn--sub btn--lg" type="submit" value="Rechercher" />
          </form>
        </div>
      </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
      <div class="container">
        <a href="{% url 'create-document' %}" class="header__menuItem">Ajouté un Document</a>
        <div class="grid grid--three">
            {% for document in documents %}
          <div class="column">
            <div class="card project">
              <a href="{% url 'document' document.id %}" class="project">
                <div class="card__body">
                  <h3 class="project__title">{{document.libelleDoc}}</h3>
                  <p class="project__author"> par &nbsp; <a class="project__author" href="{% url 'user-profile' document.operator.id %}">{{document.operator.name}}</a></p>
                  <p class="project_tags">Ajouté le:  <span class="tag tag--pill tag--main">{{document.createdDate}}</span>
                  </p>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
{% endblock %}