{% extends 'base.html'%}
{% load static %}



{% block content%}

<div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="/">
          <img src="{% static 'img/favicon.ico' %}" alt="icon" />
        </a>
        <h3>Définissez votre nouveau mot de passe </h3>
        
      </div>
      
                            {% include 'users/_flash_messages.html'%}







                            <form action="{% url 'set-new-password' uidb64 token %}" method="post">

                                {% csrf_token %}



<div  class="form__field">
    <label for="formInput#text">Nouveau mot de passe : </label>
        <input class="form-control form-control-sm"
         type="password" name="password" value="" placeholder="mot de passe">


    </div>

    <div  class="form__field">
        <label for="formInput#text">Confirme le nouveau mot de passe : </label>
            <input class="form-control form-control-sm"
             type="password" name="password2" value="" placeholder="Confirme le mot de passe">


        </div>

        <input type="submit" value="Soumettre" class="btn btn-sm btn-block btn-primary"/>



                            </form>


                                      
                           </div>
                       </div>
                    </div>
   
                    
          </div>
       </div>
   </div>
   

{% endblock %}
